@layout("/common/_container.html"){
<div class="ibox float-e-margins" >
    <div class="ibox-content">
        <div class="form-horizontal" id="goodsInfoForm">
        	<div class="row">
                <div class="col-sm-12">
                    <div class="tabs-container">
                    	<ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">订单明细</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">订单信息</a>
                        </ul>
                    </div>
                    <div class="tab-content">
                    	<div id="tab-2" class="tab-pane">
                        	<div class="panel-body">
                        		<div class="row">
					                <div class="col-sm-4 b-r">
					                	<input type="hidden" id="id">
					                    <label>订单编号：</label>&nbsp;<span id="sn">${sn}</span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>下单日期：</label>&nbsp;<span id="createTime"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>订单状态：</label>&nbsp;<span id="statusName"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>门店名称：</label>&nbsp;<span id="shopName"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>数量：</label>&nbsp;<span id="packages"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>商品总计：</label>&nbsp;<span id="due"></span>&nbsp;元<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    &nbsp;<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>重量：</label>&nbsp;<span id="weight"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>运费：</label>&nbsp;<span id="dilivery"></span>&nbsp;元<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    &nbsp;<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>参与促销：</label>&nbsp;<span id="promotion"></span><br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>优惠价格：</label>&nbsp;<span id="promotionPrice"></span>&nbsp;元<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    &nbsp;<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    &nbsp;<br>
					                </div>
					                <div class="col-sm-4 b-r">
					                    <label>实付金额：</label>&nbsp;<span id="actualPay"></span>元<br>
					                </div>
					                
					                <div class="col-sm-12 b-r">
					                    &nbsp;
					                    <div class="hr-line-dashed"></div>
					                </div>
					                
					                
					                <div class="col-sm-6 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-2 control-label">用户姓名：</label>
					                        <div class="col-sm-10">
					                            <input type="text"  id="customerName"  class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-6 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-2 control-label">会员卡号：</label>
					                        <div class="col-sm-10">
					                            <input type="text" id="color" id="vipCardId" class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-12 b-r">
					                    &nbsp;
					                    <div class="hr-line-dashed"></div>
					                </div>
					                
					                <div class="col-sm-6 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-2 control-label">支付方式：</label>
					                        <div class="col-sm-10">
						                        <select class="form-control m-b" name="account">
			                                        <option>选项 1</option>
			                                        <option>选项 2</option>
			                                        <option>选项 3</option>
			                                        <option>选项 4</option>
			                                    </select>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-6 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-2 control-label">支付订单号：</label>
					                        <div class="col-sm-10">
					                            <input type="text"  value="10001" class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-12 b-r">
					                    &nbsp;
					                    <div class="hr-line-dashed"></div>
					                </div>
					                
					                <div class="col-sm-4 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-3 control-label">配送方式：</label>
					                        <div class="col-sm-9">
						                        <select class="form-control m-b" name="account">
			                                        <option>选项 1</option>
			                                        <option>选项 2</option>
			                                        <option>选项 3</option>
			                                        <option>选项 4</option>
			                                    </select>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-4 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-3 control-label">物流公司：</label>
					                        <div class="col-sm-9">
					                            <input type="text"   class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-4 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-3 control-label">物流号：</label>
					                        <div class="col-sm-9">
					                            <input type="text"   class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-12 b-r">
					                    &nbsp;
					                    <div class="hr-line-dashed"></div>
					                </div>
					                
					                <div class="col-sm-4 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-3 control-label">收货人：</label>
					                        <div class="col-sm-9">
					                            <input type="text" id="consigneeName"  class="form-control">
					                        </div>
					                    </div>
					                	<div class="form-group">
					                        <label class="col-sm-3 control-label">电话：</label>
					                        <div class="col-sm-9">
					                            <input type="text" id="phoneNum" class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-8 b-r" >
					                	<div class="form-group">
					                        <label class="col-sm-2 control-label">省：</label>
					                        <div class="col-sm-2">
						                        <select class="form-control m-b " name="account">
			                                        <option>选项 1</option>
			                                        <option>选项 2</option>
			                                        <option>选项 3</option>
			                                        <option>选项 4</option>
			                                    </select>
					                        </div>
					                        <label class="col-sm-1 control-label">市：</label>
					                        <div class="col-sm-2">
						                        <select class="form-control m-b " name="account">
			                                        <option>选项 1</option>
			                                        <option>选项 2</option>
			                                        <option>选项 3</option>
			                                        <option>选项 4</option>
			                                    </select>
					                        </div>
					                        <label class="col-sm-1 control-label">县：</label>
					                        <div class="col-sm-2">
						                        <select class="form-control m-b " name="account">
			                                        <option>选项 1</option>
			                                        <option>选项 2</option>
			                                        <option>选项 3</option>
			                                        <option>选项 4</option>
			                                    </select>
					                        </div>
					                    </div>
					                    <div class="form-group">
					                        <label class="col-sm-2 control-label">详细地址：</label>
					                        <div class="col-sm-10">
					                            <input type="text" id="address"  value="福建省福州市软件园大道xxxx号" class="form-control">
					                        </div>
					                    </div>
					                </div>
					                <div class="col-sm-12 b-r">
					                    &nbsp;
					                    <div class="hr-line-dashed"></div>
					                </div>
					                
					                
					                
					                <div class="col-sm-12 b-r">
					                    <div class="form-group">
					                        <label class="col-sm-1 control-label">备注：</label>
					                        <div class="col-sm-11">
					                            <textarea id="remark" rows="5"
					                                      style="width: 100%">快点发货哦</textarea>
					                        </div>
					                        <div class="col-sm-2"></div>
					                    </div>
					                </div>
					            </div>
                        	</div>
                        </div>
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                	<div class="col-sm-2"><#button btnCss="info" name="增加" icon="fa-plus" clickFun="OrderInfoDlg.addItem()"/></div>
                                </div>
                                <div id="orderItems">
                                </div>
                                <#button name="结算" icon="fa-user-secret" clickFun="OrderInfoDlg.shopListSubmit()" space="true"/>
					            <div class="col-sm-12 b-r">
					                &nbsp;
					                <div class="hr-line-dashed"></div>
					            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="itemTemplate">
<div class="row" name="orderItem">
	<div class="col-sm-3" >
		<div class="form-group">
        	<label class="col-sm-4 control-label">商品编号：</label>
        	<div class="col-sm-8">
            	<input type="text"  name="goodsId" class="form-control">
        	</div>
   		</div>
	</div>
	<div class="col-sm-3" >
		<div class="form-group">
        	<label class="col-sm-4 control-label">规格编号：</label>
        	<div class="col-sm-8">
            	<input type="text" name="productId" class="form-control">
        	</div>
    	</div>
	</div>
	<div class="col-sm-2" >
		<div class="form-group">
        	<label class="col-sm-4 control-label">数量：</label>
        	<div class="col-sm-8">
            	<input type="text" name="quantity"  class="form-control">
        	</div>
    	</div>
	</div>
	<div class="col-sm-2" >
		<div class="form-group">
        	<label class="col-sm-4 control-label">名称：</label>
        	<div class="col-sm-8">
            	<input type="text" name="goodsName"  class="form-control">
        	</div>
    	</div>
	</div>
	<div class="col-sm-2" >
		<#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="OrderInfoDlg.deleteItem(event)"/>
	</div>
</div>
</script>
<script src="${ctxPath}/static/modular/order/order/order_info.js"></script>
@}
