@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="tagInfoForm">

			<input type="hidden" id="couponId" value="${coupon.id}">
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">优惠卷名称</label>
						<div class="col-sm-10">
							<label >${coupon.name}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">优惠内容</label>
						<div class="col-sm-10">
							<label>满&nbsp;${coupon.fulfil}&nbsp;元,
								@if(coupon.model==2){
                                	打&nbsp;${coupon.discount*10}&nbsp;折
                                @}
                                @if(coupon.model==1){
                                	减&nbsp;${coupon.reduce}&nbsp;元
                                @}
                            </label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">生成数量</label>
						<div class="col-sm-10">
							<input class="form-control" id="quantity" name="quantity" type="number">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">是否发放</label>
						<div class="col-sm-10">
							<select class="form-control m-b" id="isSend" onchange="CouponInfoDlg.sendChange()" >
			                    <option value="false">只生成不发放</option>
								<option value="true">生成并发放给全体客户</option>
			                </select>
						</div>
					</div>
					

					<div class="row btn-group-m-t">
						<div class="col-sm-10"><#button btnCss="info" name="提交"
							id="ensure" icon="fa-check"
							clickFun="CouponInfoDlg.produce()"/> <#button
							btnCss="danger" name="取消" id="cancel" icon="fa-eraser"
							clickFun="CouponInfoDlg.close()"/></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/coupon/coupon/coupon_info.js"></script>
@}
