@layout("/common/_container.html"){
<!-- 导入相册的样式 -->
<link href="${ctxPath}/static/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="goodsInfoForm">

            <input type="hidden" id="id" value="">
			<input type="hidden" id="imgs" value="">
			<input type="hidden" id="categoryIds" value="">
			<input type="hidden" id="tagIds" value="">
			<input type="hidden" id="paramIds" value="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">商品图片</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">商品详情</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="true">参数配置</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">规格配置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
									<div class="form-group">
				                        <label class="col-sm-2 control-label">编号</label>
				                        <div class="col-sm-5">
				                            <input class="form-control" id="sn" readonly="readonly" name="sn" type="text" value="${sn}">
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label class="col-sm-2 control-label">名称</label>
				                        <div class="col-sm-5">
				                            <input class="form-control" id="goodsName" name="goodsName" type="text" >
				                        </div>
				                    </div>
			                        <div class="form-group">
				                        <label class="col-sm-2 control-label">分类</label>
				                        <div class="col-sm-5">
				                           <input class="form-control" id="category" name="category" readonly="readonly"
                                                  onclick="Goods.selectCategory();" type="text">
				                        </div>
				                    </div>
			                        <div class="form-group">
				                        <label class="col-sm-2 control-label">品牌</label>
				                        <div class="col-sm-5">
                                            <select class="form-control m-b" id="brand" >
                                                @for(item in brandList){
                                                    <option value="${item.id}">${item.name}</option>
                                                @}
                                            </select>
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label class="col-sm-2 control-label">市场价</label>
				                        <div class="col-sm-5">
				                            <input class="form-control" id="marketPrice" name="marketPrice" type="text" >
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label class="col-sm-2 control-label">销售价</label>
				                        <div class="col-sm-5">
				                            <input class="form-control" id="price" name="price" type="text" >
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label class="col-sm-2 control-label">单位</label>
				                        <div class="col-sm-5">
				                            <input class="form-control" id="unit" name="unit" type="text" placeholder="例如：件/瓶等">
				                        </div>
				                    </div>
			                        <div class="form-group">
				                        <label class="col-sm-2 control-label">标签</label>
				                        <div class="col-sm-5" id="tags">
											@for(item in tagList){
											<label class="checkbox-inline i-checks">
												<input  type="checkbox" value="${item.id}">${item.name}</label>
											@}
				                        </div>
				                    </div>
                                </div>
                            </div>


                            <div id="tab-2" class="tab-pane">
                                <div class="wrapper wrapper-content">
								    <div class="ibox float-e-margins" style="">
								        <div class="ibox-content" id="goodsImgs">
								           
								        </div>
								    </div>
								    
							    </div>
                                
                                <div class="row btn-group-m-t">
					                <div class="col-sm-12">
					                    <#button btnCss="info" name="上传图片"  icon="fa-plus" clickFun="GoodsInfoDlg.openUpload()"/>
					                </div>
					            </div>
                            </div>
                            <div id="tab-3" class="tab-pane"  style="font-size:15px;">
                                <div>
				                    <div id="param" ></div>
				                </div>
				                <div class="hr-line-dashed"></div>
				                <div>
				                	 <div id="paramItems" ></div>
				                </div>
                            </div>
                            <div id="tab-4" class="tab-pane " style="font-size:15px;">
                                <div >
				                    <div id="spec" ></div>
				                </div>
				                <div class="hr-line-dashed"></div>
				                <div>
				                	 <div id="specItems" ></div>
				                </div>
				                <img />
                            </div>
                            <div id="tab-5" class="tab-pane " style="font-size:15px;">
                                <div class="col-sm-12">
				                	<textarea id="htmlContentT" class="ckeditor" placeholder="文章内容">
				    					
				                	</textarea>
				                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <form id="form" action="/goods/upload" method="post" enctype="multipart/form-data"  style="display:none;">
            	<input id="spec_upload" name="file"  type="file" onchange="GoodsInfoDlg.uploadSpecImg()">
            </form>
			
            <div class="row btn-group-m-t">
                <div class="col-sm-12">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GoodsInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GoodsInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="imgTemplate">
<div class="col-sm-6">
	<div class="ibox float-e-margins">
   		<div class="ibox-title">
       		<div class="ibox-tools">
           		<a class="close-link" onclick="GoodsInfoDlg.deleteImg(this)" >
            		<i class="fa fa-times"></i>
           		</a>
           </div>
    	</div>
		<input name="imgItemId" type="hidden">
    	<a class="fancybox" name="imgItem" href="/kaptcha/girl.gif" >
       		<img alt="image" name="imgItem" src="/kaptcha/girl.gif" />
    	</a>
	</div>
</div>
</script>
<script src="${ctxPath}/static/modular/goods/goods/goods_info.js"></script>

<script src="${ctxPath}/static/js/jquery.form.js"></script>

<!-- Peity -->
<script src="${ctxPath}/static/js/plugins/peity/jquery.peity.min.js"></script>

<!-- Fancy box -->
<script src="${ctxPath}/static/js/plugins/fancybox/jquery.fancybox.js"></script>

<script>
   $(document).ready(function () {
       $('.fancybox').fancybox({
           openEffect: 'none',
           closeEffect: 'none'
       });
   });
</script>

<script src="${ctxPath}/static/js/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    CKEDITOR.replace('htmlContentT');
});
</script>

@}
