@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>门店管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="店名" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Stores.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="StoresTableToolbar" role="group">
                            @if(shiro.hasPermission("/stores/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Stores.openAddStores()"/>
                            @}
                            @if(shiro.hasPermission("/stores/update")){
                                <#button name="修改" icon="fa-plus" clickFun="Stores.openStoresDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/stores/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="Stores.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="StoresTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/goods/stores/stores.js"></script>
@}
