<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.share.dao。ShareBindMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.md.share.model.ShareBind">
		<id column="id" property="id" />
		<result column="boundMemberId" property="boundMemberId" />
		<result column="shareMemberId" property="shareMemberId" />
		<result column="bindTime" property="bindTime" />
	</resultMap>
</mapper>
