<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.pay.dao.WeiXinMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.md.pay.model.WeiXin">
		<id column="id" property="id" />
		<result column="accessToken" property="accessToken" />
		<result column="expiresIn" property="expiresIn" />
		<result column="appid" property="appid" />
		<result column="secret" property="secret" />
		<result column="mchid" property="mchid" />
		<result column="apikey" property="apikey" />
	</resultMap>
</mapper>
